trigger:
  branches:
    include:
      - main

pool: piluagent

stages:
  - stage: scanningfromsonarqube
    displayName: Scanning from SonarQube
    jobs:
      - job: scanningfromsonarqube
        displayName: Scanning from SonarQube
        steps:
        - task: SonarQubePrepare@8
          displayName: SonarQube Prepare
          inputs:
            SonarQube: 'SonarSVC'
            scannerMode: 'cli'
            configMode: 'manual'
            cliProjectKey: 'Todoapp'
            cliProjectName: 'Todoapp'
            cliSources: '.'
            extraProperties: |
              sonar.projectKey=Todoapp
              sonar.projectName=Todoapp
              sonar.sources=.
        - task: SonarQubeAnalyze@8
          inputs:
            jdkversion: 'JAVA_HOME_21_X64'
        - task: SonarQubePublish@8
          inputs:
            pollingTimeoutSec: '300'

  - stage: appbuild
    displayName: App Build
    jobs:
      - job: appbuild
        displayName: App Build
        steps:
        - task: NodeTool@0
          displayName: Node Installer
          inputs:
            versionSource: 'spec'
            versionSpec: '16.x'
            checkLatest: true
        - task: Npm@1
          displayName: NPM Install
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)'
        - task: Npm@1
          displayName: NPM Build
          inputs:
            command: 'custom'
            workingDir: '$(System.DefaultWorkingDirectory)'
            customCommand: 'run build'
        - task: PublishBuildArtifacts@1
          displayName: Publish Artifacts
          inputs:
            PathtoPublish: '$(System.DefaultWorkingDirectory)/build'
            ArtifactName: 'ToDoUI'
            publishLocation: 'Container'
        