trigger:
  branches:
    include:
      - main

pool: newagent

stages:
  - stage: SonarQubecodeQuality
    displayName: SonarQube Code Quality check
    jobs:
      - job: SonarQubecodeQuality
        displayName: SonarQube Code Quality check
        steps:
        - task: SonarQubePrepare@8
          inputs:
            SonarQube: 'SonarSVC'
            scannerMode: 'cli'
            configMode: 'manual'
            cliProjectKey: 'To-do-App'
            cliProjectName: 'To-do-App'
            cliSources: '.'
            extraProperties: |
              sonar.projectKey=To-do-App
              sonar.projectName=To-do-App
              sonar.sources=.
        - task: SonarQubeAnalyze@8
          inputs:
            jdkversion: 'JAVA_HOME_17_X64'
        - task: SonarQubePublish@8
          inputs:
            pollingTimeoutSec: '300'
        

  # - stage: stylelintCSScodequalitycheck
  #   displayName: Stylelint CSS code quality check
  #   jobs:
  #     - job: stylelintCSScodequalitycheck
  #       displayName: Stylelint CSS code quality check
  #       steps:
  #       - task: PowerShell@2
  #         displayName: Stylelint CSS code quality check
  #         inputs:
  #           targetType: 'inline'
  #           script: |
  #             npm install -g stylelint stylelint-config-standard
  #             stylelint "$(System.DefaultWorkingDirectory)/src/**/*.css" --allow-empty-input

  # - stage: appbuild
  #   displayName: App Build
  #   jobs:
  #     - job: appbuild
  #       displayName: App Build
  #       steps:
  #       - task: NodeTool@0
  #         displayName: Node Installer
  #         inputs:
  #           versionSource: 'spec'
  #           versionSpec: '16.x'
  #           checkLatest: true
  #       - task: Npm@1
  #         displayName: NPM Install
  #         inputs:
  #           command: 'install'
  #           workingDir: '$(System.DefaultWorkingDirectory)'
  #       - task: Npm@1
  #         displayName: NPM Build
  #         inputs:
  #           command: 'custom'
  #           workingDir: '$(System.DefaultWorkingDirectory)'
  #           customCommand: 'run build'
  #       - task: PublishBuildArtifacts@1
  #         displayName: Publish Artifacts
  #         inputs:
  #           PathtoPublish: '$(System.DefaultWorkingDirectory)/build'
  #           ArtifactName: 'ToDoUI'
  #           publishLocation: 'Container'
        