trigger:
  branches:
    include:
      - main

pool: piluagent

stages:
  - stage: appbuild
    displayName: App Build
    jobs:
      - job: appbuild
        displayName: App Build
        steps:
        - task: NodeTool@0
          displayName: Node Installer
          inputs:
            versionSource: 'spec'
            versionSpec: '16.x'
            checkLatest: true
        - task: Npm@1
          displayName: NPM Install
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)'
        - task: Npm@1
          displayName: NPM Build
          inputs:
            command: 'custom'
            workingDir: '$(System.DefaultWorkingDirectory)'
            customCommand: 'run build'
        - task: PublishBuildArtifacts@1
          displayName: Publish Artifacts
          inputs:
            PathtoPublish: '$(System.DefaultWorkingDirectory)/build'
            ArtifactName: 'ToDoUI'
            publishLocation: 'Container'
        