trigger:
  branches:
    include:
      - main

pool: autoagent

stages:
  # - stage: SonarQubecodeQuality
  #   displayName: SonarQube Code Quality check
  #   jobs:
  #     - job: SonarQubecodeQuality
  #       displayName: SonarQube Code Quality check
  #       steps:
  #       - task: SonarQubePrepare@8
  #         inputs:
  #           SonarQube: 'SonarSVC'
  #           scannerMode: 'cli'
  #           configMode: 'manual'
  #           cliProjectKey: 'To-do-App'
  #           cliProjectName: 'To-do-App'
  #           cliSources: '.'
  #           extraProperties: |
  #             sonar.projectKey=To-do-App
  #             sonar.projectName=To-do-App
  #             sonar.sources=.
  #             sonar.branch.name=
  #       - task: SonarQubeAnalyze@8
  #         inputs:
  #           jdkversion: 'JAVA_HOME_21_X64'
  #       - task: SonarQubePublish@8
  #         inputs:
  #           pollingTimeoutSec: '300'
        
  # - stage: stylelintCSScodequalitycheck
  #   displayName: Stylelint CSS code quality check
  #   jobs:
  #     - job: stylelintCSScodequalitycheck
  #       displayName: Stylelint CSS code quality check
  #       steps:
  #       - task: PowerShell@2
  #         displayName: Stylelint CSS code quality check
  #         inputs:
  #           targetType: 'inline'
  #           script: |
  #             npm install -g stylelint stylelint-config-standard
  #             stylelint "$(System.DefaultWorkingDirectory)/src/**/*.css" --allow-empty-input

  - stage: appbuild
    displayName: App Build
    jobs:
      - job: appbuild
        displayName: App Build
        steps:
        - task: NodeTool@0
          displayName: Node Installer
          inputs:
            versionSource: 'spec'
            versionSpec: '16.x'
        - task: Npm@1
          displayName: NPM Install
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)'
            
        - task: Npm@1
          displayName: NPM Build
          inputs:
            command: 'custom'
            workingDir: '$(System.DefaultWorkingDirectory)'
            customCommand: 'run build'

        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(System.DefaultWorkingDirectory)/build'
            ArtifactName: 'ToDoUI'
            publishLocation: 'Container'

  - stage: deployments
    displayName: Diployments todoui
    jobs:
      - deployment: Deployments
        displayName: Deployments todoui
        environment: 
         name: vm-env
         resourceName: vishnu-vm
         resourceType: VirtualMachine
        strategy:
          runOnce:
              deploy:
                steps:
                - task: DownloadPipelineArtifact@2
                  inputs:
                    buildType: 'current'
                    artifactName: 'ToDoUI'
                    targetPath: '/var/www/html'
            

  # - stage: deployments
  #   displayName: Deployment 
  #   jobs:
  #     - job: deployment
  #       displayName: Deployment
  #       steps:
  #       - task: DownloadBuildArtifacts@0
  #         inputs:
  #             buildType: 'current'
  #             downloadType: 'single'
  #             artifactName: 'ToDoUI'
  #             downloadPath: '$(Pipeline.Workspace)'
  #       - task: CopyFilesOverSSH@0
  #         inputs:
  #           sshEndpoint: 'connectnew'
  #           sourceFolder: '$(Pipeline.Workspace)/ToDoUI'
  #           contents: '**'
  #           targetFolder: '/home/azureuser/app'
  #           readyTimeout: '20000'
        